
.bracket {
  width:    1200px;
  height:   500px;
}

#r1d0t1 {
  position: absolute;
  left:     10px;
  top:      85px;
}

#r1d0t4 {
  position: absolute;
  left:     10px;
  top:      149px;
}

#r1d0t2 {
  position: absolute;
  left:     10px;
  top:      213px;
}

#r1d0t3 {
  position: absolute;
  left:     10px;
  top:      277px;
}

#r1d1t1 {
  position: absolute;
  left:     10px;
  top:      341px;
}

#r1d1t4 {
  position: absolute;
  left:     10px;
  top:      405px;
}

#r1d1t2 {
  position: absolute;
  left:     10px;
  top:      469px;
}

#r1d1t3 {
  position: absolute;
  left:     10px;
  top:      533px;
}

#r1d2t1 {
  position: absolute;
  left:     1110px;
  top:      85px;
}

#r1d2t4 {
  position: absolute;
  left:     1110px;
  top:      149px;
}

#r1d2t2 {
  position: absolute;
  left:     1110px;
  top:      213px;
}

#r1d2t3 {
  position: absolute;
  left:     1110px;
  top:      277px;
}

#r1d3t1 {
  position: absolute;
  left:     1110px;
  top:      341px;
}

#r1d3t4 {
  position: absolute;
  left:     1110px;
  top:      405px;
}

#r1d3t2 {
  position: absolute;
  left:     1110px;
  top:      469px;
}

#r1d3t3 {
  position: absolute;
  left:     1110px;
  top:      533px;
}



#r2d0t1 {
  position: absolute;
  left:     148px;
  top:      117px;
}

#r2d0t4 {
  position: absolute;
  left:     148px;
  top:      117px;
}

#r2d0t2 {
  position: absolute;
  left:     148px;
  top:      245px;
}

#r2d0t3 {
  position: absolute;
  left:     148px;
  top:      245px;
}

#r2d1t1 {
  position: absolute;
  left:     148px;
  top:      373px;
}

#r2d1t4 {
  position: absolute;
  left:     148px;
  top:      373px;
}

#r2d1t2 {
  position: absolute;
  left:     148px;
  top:      501px;
}

#r2d1t3 {
  position: absolute;
  left:     148px;
  top:      501px;
}

#r2d2t1 {
  position: absolute;
  left:     972px;
  top:      117px;
}

#r2d2t4 {
  position: absolute;
  left:     972px;
  top:      117px;
}

#r2d2t2 {
  position: absolute;
  left:     972px;
  top:      245px;
}

#r2d2t3 {
  position: absolute;
  left:     972px;
  top:      245px;
}

#r2d3t1 {
  position: absolute;
  left:     972px;
  top:      373px;
}

#r2d3t4 {
  position: absolute;
  left:     972px;
  top:      373px;
}

#r2d3t2 {
  position: absolute;
  left:     972px;
  top:      501px;
}

#r2d3t3 {
  position: absolute;
  left:     972px;
  top:      501px;
}



#r3d0 {
  position: absolute;
  left:     285px;
  top:      181px;
}

#r3d1 {
  position: absolute;
  left:     285px;
  top:      437px;
}

#r3d2 {
  position: absolute;
  left:     835px;
  top:      181px;
}

#r3d3 {
  position: absolute;
  left:     835px;
  top:      437px;
}



#r4c0 {
  position: absolute;
  left:     422px;
  top:      309px;
}

#r4c1 {
  position: absolute;
  left:     698px;
  top:      309px;
}



#r5 {
  position: absolute;
  left:     560px;
  top:      200px;
}
